<%- include("../partials/header.ejs") %>
<body>
  <div class="container">
  <h1 class="page-titles ">Articles</h1>
  <ul class="articles">
    <% posts.forEach(post => {%>
      <div class="article">
        <h2>
        <%= post.title %>
      </h2>
      <p>
        <%= post.content %>
      </p>
     
      <% if (post.showReadMore) { %>
        <a href="#" class="text-decoration-none pt-3">Read more...</a>
    <% } %>
   
      <form action="/delete" method="post">
        <input type="hidden" name="postId" value="<%= post.id %>">
        <button type="submit">Delete</button>
      </form>
    </div>
    <hr/>
      <% }) %>
     
  </ul>
</div>
</body>

<%- include("../partials/footer.ejs") %>