<%- include("../partials/header.ejs") %>
<body>
  <h1 class="page-titles ">Articles</h1>
  <ul>
    <% posts.forEach(post => {%>
      <div><h2>
        <%= post.title %>
      </h2>
      <p>
        <%= post.content %>
      </p>
      <form action="/delete" method="post">
        <input type="hidden" name="postId" value="<%= post.id %>">
        <button type="submit">Delete</button>
      </form>
    </div>
    <hr/>
      <% }) %>
     
  </ul>
</body>

<%- include("../partials/footer.ejs") %>